apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getInputStream"
	full_name: "java.net.URLConnection.getInputStream"
	base_type: "java.net.URLConnection"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 49
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "connect"
	full_name: "java.net.URLConnection.connect"
	base_type: "java.net.URLConnection"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 50
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getOutputStream"
	full_name: "java.net.URLConnection.getOutputStream"
	base_type: "java.net.URLConnection"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 51
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "openStream"
	full_name: "java.net.URL.openStream"
	base_type: "java.net.URL"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 52
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getContent"
	full_name: "java.net.URL.getContent"
	base_type: "java.net.URL"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 53
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "set"
	full_name: "java.net.URL.set"
	base_type: "java.net.URL"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 54
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "<init>"
	full_name: "java.net.URL.<init>"
	base_type: "java.net.URL"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 55
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "connect"
	full_name: "java.net.Socket.connect"
	base_type: "java.net.Socket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 56
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getRequestingHost"
	full_name: "java.net.Authenticator.getRequestingHost"
	base_type: "java.net.Authenticator"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 57
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getRequestingPort"
	full_name: "java.net.Authenticator.getRequestingPort"
	base_type: "java.net.Authenticator"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 58
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setData"
	full_name: "java.net.DatagramPacket.setData"
	base_type: "java.net.DatagramPacket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 59
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setSocketAddress"
	full_name: "java.net.DatagramPacket.setSocketAddress"
	base_type: "java.net.DatagramPacket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 60
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bind"
	full_name: "java.net.DatagramSocket.bind"
	base_type: "java.net.DatagramSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 61
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "connect"
	full_name: "java.net.DatagramSocket.connect"
	base_type: "java.net.DatagramSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 62
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "receive"
	full_name: "java.net.DatagramSocket.receive"
	base_type: "java.net.DatagramSocket"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 63
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "java.net.DatagramSocket.send"
	base_type: "java.net.DatagramSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 64
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "connect"
	full_name: "java.net.DatagramSocketImpl.connect"
	base_type: "java.net.DatagramSocketImpl"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 65
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getResponseMessage"
	full_name: "java.net.HttpURLConnection.getResponseMessage"
	base_type: "java.net.HttpURLConnection"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 66
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getJarEntry"
	full_name: "java.net.JarURLConnection.getJarEntry"
	base_type: "java.net.JarURLConnection"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 67
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "<init>"
	full_name: "java.net.JarURLConnection.<init>"
	base_type: "java.net.JarURLConnection"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 68
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getJarFile"
	full_name: "java.net.JarURLConnection.getJarFile"
	base_type: "java.net.JarURLConnection"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 69
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "java.net.MulticastSocket.send"
	base_type: "java.net.MulticastSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 70
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getPassword"
	full_name: "java.net.PasswordAuthentication.getPassword"
	base_type: "java.net.PasswordAuthentication"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 71
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getUserName"
	full_name: "java.net.PasswordAuthentication.getUserName"
	base_type: "java.net.PasswordAuthentication"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 72
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "accept"
	full_name: "java.net.ServerSocket.accept"
	base_type: "java.net.ServerSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 73
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bind"
	full_name: "java.net.ServerSocket.bind"
	base_type: "java.net.ServerSocket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 74
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bind"
	full_name: "java.net.Socket.bind"
	base_type: "java.net.Socket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 75
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getInputStream"
	full_name: "java.net.Socket.getInputStream"
	base_type: "java.net.Socket"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 76
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getOutputStream"
	full_name: "java.net.Socket.getOutputStream"
	base_type: "java.net.Socket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 77
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendUrgentData"
	full_name: "java.net.Socket.sendUrgentData"
	base_type: "java.net.Socket"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 78
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "openConnection"
	full_name: "java.net.URL.openConnection"
	base_type: "java.net.URL"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 79
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "loadClass"
	full_name: "java.net.URLClassLoader.loadClass"
	base_type: "java.net.URLClassLoader"
	functionality: SINK
	sink_type: SINK_CODE_GENERATION
	id: 80
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "<init>"
	full_name: "java.net.URLConnection.<init>"
	base_type: "java.net.URLConnection"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 81
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getContent"
	full_name: "java.net.URLConnection.getContent"
	base_type: "java.net.URLConnection"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 82
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "openConnection"
	full_name: "java.net.URLStreamHandler.openConnection"
	base_type: "java.net.URLStreamHandler"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 83
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setURL"
	full_name: "java.net.URLStreamHandler.setURL"
	base_type: "java.net.URLStreamHandler"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 84
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "decode"
	full_name: "java.util.Base64.Decoder.decode"
	base_type: "java.util.Base64.Decoder"
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
	id: 87
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "checkPermission"
	full_name: "java.security.AccessController.checkPermission"
	base_type: "java.security.AccessController"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 88
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "doPrivileged"
	full_name: "java.security.AccessController.doPrivileged"
	base_type: "java.security.AccessController"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 89
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "java.lang.ProcessBuilder.start"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 105
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startPipeline"
	full_name: "java.lang.ProcessBuilder.startPipeline"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 106
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "command"
	full_name: "java.lang.ProcessBuilder.command"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 107
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "directory"
	full_name: "java.lang.ProcessBuilder.directory"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 108
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "environment"
	full_name: "java.lang.ProcessBuilder.environment"
	base_type: "java.lang.ProcessBuilder"
	functionality: SOURCE
	source_type: SOURCE_ENVIRONMENT
	id: 109
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "inheritIO"
	full_name: "java.lang.ProcessBuilder.inheritIO"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 110
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "redirectInput"
	full_name: "java.lang.ProcessBuilder.redirectInput"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 111
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "redirectOutput"
	full_name: "java.lang.ProcessBuilder.redirectOutput"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 112
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "<init>"
	full_name: "java.lang.ProcessBuilder.<init>"
	base_type: "java.lang.ProcessBuilder"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 113
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pid"
	full_name: "java.lang.Process.pid"
	base_type: "java.lang.Process"
	functionality: SOURCE
	source_type: SOURCE_ENVIRONMENT
	id: 114
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "console"
	full_name: "java.lang.System.console"
	base_type: "java.lang.System"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 115
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getProperties"
	full_name: "java.lang.System.getProperties"
	base_type: "java.lang.System"
	functionality: SOURCE
	source_type: SOURCE_ENVIRONMENT
	id: 116
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getenv"
	full_name: "java.lang.System.getenv"
	base_type: "java.lang.System"
	functionality: SOURCE
	source_type: SOURCE_ENVIRONMENT
	id: 117
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getProperty"
	full_name: "java.lang.System.getProperty"
	base_type: "java.lang.System"
	functionality: SOURCE
	source_type: SOURCE_ENVIRONMENT
	id: 118
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "load"
	full_name: "java.lang.System.load"
	base_type: "java.lang.System"
	functionality: SINK
	sink_type: SINK_CODE_GENERATION
	id: 119
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "loadLibrary"
	full_name: "java.lang.System.loadLibrary"
	base_type: "java.lang.System"
	functionality: SINK
	sink_type: SINK_CODE_GENERATION
	id: 120
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "java.lang.Thread.start"
	base_type: "java.lang.Thread"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 128
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "run"
	full_name: "java.lang.Thread.run"
	base_type: "java.lang.Thread"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 129
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "java.lang.Runtime.exec"
	base_type: "java.lang.Runtime"
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
	id: 130
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "javax.script.ScriptEngine.eval"
	base_type: "javax.script.ScriptEngine"
	functionality: SINK
	sink_type: SINK_CODE_GENERATION
	id: 131
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getEntity"
	full_name: "org.apache.http.HttpResponse.getEntity"
	base_type: "org.apache.http.HttpResponse"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 219
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "toString"
	full_name: "org.apache.http.util.EntityUtils.toString"
	base_type: "org.apache.http.util.EntityUtils"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 220
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getStatusLine"
	full_name: "org.apache.http.HttpResponse.getStatusLine"
	base_type: "org.apache.http.HttpResponse"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 221
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getLatitude"
	full_name: "android.location.Location.getLatitude"
	base_type: "android.location.Location"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 222
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getLongitude"
	full_name: "android.location.Location.getLongitude"
	base_type: "android.location.Location"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 223
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getLastKnownLocation"
	full_name: "android.location.LocationManager.getLastKnownLocation"
	base_type: "android.location.LocationManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 224
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getDeviceId"
	full_name: "android.telephony.TelephonyManager.getDeviceId"
	base_type: "android.telephony.TelephonyManager"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 225
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getSubscriberId"
	full_name: "android.telephony.TelephonyManager.getSubscriberId"
	base_type: "android.telephony.TelephonyManager"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 226
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getSimSerialNumber"
	full_name: "android.telephony.TelephonyManager.getSimSerialNumber"
	base_type: "android.telephony.TelephonyManager"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 227
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getLine1Number"
	full_name: "android.telephony.TelephonyManager.getLine1Number"
	base_type: "android.telephony.TelephonyManager"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 228
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putBinder"
	full_name: "android.os.Bundle.putBinder"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 229
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putBoolean"
	full_name: "android.os.Bundle.putBoolean"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 230
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putBooleanArray"
	full_name: "android.os.Bundle.putBooleanArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 231
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putBundle"
	full_name: "android.os.Bundle.putBundle"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 232
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putByte"
	full_name: "android.os.Bundle.putByte"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 233
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putByteArray"
	full_name: "android.os.Bundle.putByteArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 234
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putChar"
	full_name: "android.os.Bundle.putChar"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 235
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putCharArray"
	full_name: "android.os.Bundle.putCharArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 236
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putCharSequence"
	full_name: "android.os.Bundle.putCharSequence"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 237
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putCharSequenceArray"
	full_name: "android.os.Bundle.putCharSequenceArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 238
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putCharSequenceArrayList"
	full_name: "android.os.Bundle.putCharSequenceArrayList"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 239
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putDouble"
	full_name: "android.os.Bundle.putDouble"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 240
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putDoubleArray"
	full_name: "android.os.Bundle.putDoubleArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 241
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putFloat"
	full_name: "android.os.Bundle.putFloat"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 242
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putFloatArray"
	full_name: "android.os.Bundle.putFloatArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 243
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putInt"
	full_name: "android.os.Bundle.putInt"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 244
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putIntArray"
	full_name: "android.os.Bundle.putIntArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 245
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putIntegerArrayList"
	full_name: "android.os.Bundle.putIntegerArrayList"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 246
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putLong"
	full_name: "android.os.Bundle.putLong"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 247
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putLongArray"
	full_name: "android.os.Bundle.putLongArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 248
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putParcelable"
	full_name: "android.os.Bundle.putParcelable"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 249
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putParcelableArray"
	full_name: "android.os.Bundle.putParcelableArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 250
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putParcelableArrayList"
	full_name: "android.os.Bundle.putParcelableArrayList"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 251
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putSerializable"
	full_name: "android.os.Bundle.putSerializable"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 252
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putShort"
	full_name: "android.os.Bundle.putShort"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 253
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putShortArray"
	full_name: "android.os.Bundle.putShortArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 254
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putSparseParcelableArray"
	full_name: "android.os.Bundle.putSparseParcelableArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 255
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putString"
	full_name: "android.os.Bundle.putString"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 256
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putStringArray"
	full_name: "android.os.Bundle.putStringArray"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 257
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putStringArrayList"
	full_name: "android.os.Bundle.putStringArrayList"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 258
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putAll"
	full_name: "android.os.Bundle.putAll"
	base_type: "android.os.Bundle"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 259
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "read"
	full_name: "android.media.AudioRecord.read"
	base_type: "android.media.AudioRecord"
	functionality: SOURCE
	source_type: SOURCE_FILE
	id: 260
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getInstalledApplications"
	full_name: "android.content.pm.PackageManager.getInstalledApplications"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 261
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getInstalledPackages"
	full_name: "android.content.pm.PackageManager.getInstalledPackages"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 262
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "queryIntentActivities"
	full_name: "android.content.pm.PackageManager.queryIntentActivities"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 263
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "queryIntentServices"
	full_name: "android.content.pm.PackageManager.queryIntentServices"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 264
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "queryBroadcastReceivers"
	full_name: "android.content.pm.PackageManager.queryBroadcastReceivers"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 265
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "queryContentProviders"
	full_name: "android.content.pm.PackageManager.queryContentProviders"
	base_type: "android.content.pm.PackageManager"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 266
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setAction"
	full_name: "android.content.Intent.setAction"
	base_type: "android.content.Intent"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 273
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setClassName"
	full_name: "android.content.Intent.setClassName"
	base_type: "android.content.Intent"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 274
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setComponent"
	full_name: "android.content.Intent.setComponent"
	base_type: "android.content.Intent"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 275
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendBroadcast"
	full_name: "android.content.Context.sendBroadcast"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 276
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendOrderedBroadcast"
	full_name: "android.content.Context.sendOrderedBroadcast"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 277
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendOrderedBroadcast"
	full_name: "android.content.ContextWrapper.sendOrderedBroadcast"
	base_type: "android.content.ContextWrapper"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 278
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setVideoSource"
	full_name: "android.media.MediaRecorder.setVideoSource"
	base_type: "android.media.MediaRecorder"
	functionality: SINK
	sink_type: SINK_FILE
	id: 279
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setPreviewDisplay"
	full_name: "android.media.MediaRecorder.setPreviewDisplay"
	base_type: "android.media.MediaRecorder"
	functionality: SINK
	sink_type: SINK_FILE
	id: 280
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "android.media.MediaRecorder.start"
	base_type: "android.media.MediaRecorder"
	functionality: SINK
	sink_type: SINK_FILE
	id: 281
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "registerReceiver"
	full_name: "android.content.Context.registerReceiver"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 282
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "addAction"
	full_name: "android.content.IntentFilter.addAction"
	base_type: "android.content.IntentFilter"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 283
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendTextMessage"
	full_name: "android.telephony.SmsManager.sendTextMessage"
	base_type: "android.telephony.SmsManager"
	functionality: SINK
	sink_type: SINK_SMS_MMS
	id: 284
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendDataMessage"
	full_name: "android.telephony.SmsManager.sendDataMessage"
	base_type: "android.telephony.SmsManager"
	functionality: SINK
	sink_type: SINK_SMS_MMS
	id: 285
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendMultipartTextMessage"
	full_name: "android.telephony.SmsManager.sendMultipartTextMessage"
	base_type: "android.telephony.SmsManager"
	functionality: SINK
	sink_type: SINK_SMS_MMS
	id: 286
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendMessage"
	full_name: "android.os.Handler.sendMessage"
	base_type: "android.os.Handler"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 287
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putBoolean"
	full_name: "android.content.SharedPreferences$Editor.putBoolean"
	base_type: "android.content.SharedPreferences$Editor"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 288
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putFloat"
	full_name: "android.content.SharedPreferences$Editor.putFloat"
	base_type: "android.content.SharedPreferences$Editor"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 289
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putInt"
	full_name: "android.content.SharedPreferences$Editor.putInt"
	base_type: "android.content.SharedPreferences$Editor"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 290
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putLong"
	full_name: "android.content.SharedPreferences$Editor.putLong"
	base_type: "android.content.SharedPreferences$Editor"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 291
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "putString"
	full_name: "android.content.SharedPreferences$Editor.putString"
	base_type: "android.content.SharedPreferences$Editor"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 292
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getDefaultSharedPreferences"
	full_name: "android.content.SharedPreferences.getDefaultSharedPreferences"
	base_type: "android.content.SharedPreferences"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 293
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getAddress"
	full_name: "android.bluetooth.BluetoothAdapter.getAddress"
	base_type: "android.bluetooth.BluetoothAdapter"
	functionality: SOURCE
	source_type: SOURCE_BLUETOOTH
	id: 294
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getMacAddress"
	full_name: "android.net.wifi.WifiInfo.getMacAddress"
	base_type: "android.net.wifi.WifiInfo"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 295
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getSSID"
	full_name: "android.net.wifi.WifiInfo.getSSID"
	base_type: "android.net.wifi.WifiInfo"
	functionality: SOURCE
	source_type: SOURCE_NETWORK
	id: 296
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getCid"
	full_name: "android.telephony.gsm.GsmCellLocation.getCid"
	base_type: "android.telephony.gsm.GsmCellLocation"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 297
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getLac"
	full_name: "android.telephony.gsm.GsmCellLocation.getLac"
	base_type: "android.telephony.gsm.GsmCellLocation"
	functionality: SOURCE
	source_type: SOURCE_UNIQUE_IDENTIFIER
	id: 298
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getAccounts"
	full_name: "android.accounts.AccountManager.getAccounts"
	base_type: "android.accounts.AccountManager"
	functionality: SOURCE
	source_type: SOURCE_ACCOUNT
	id: 299
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getAllBookmarks"
	full_name: "android.provider.Browser.getAllBookmarks"
	base_type: "android.provider.Browser"
	functionality: SOURCE
	source_type: SOURCE_BROWSER
	id: 300
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getAllVisitedUrls"
	full_name: "android.provider.Browser.getAllVisitedUrls"
	base_type: "android.provider.Browser"
	functionality: SOURCE
	source_type: SOURCE_BROWSER
	id: 301
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execute"
	full_name: "org.apache.http.impl.client.DefaultHttpClient.execute"
	base_type: "org.apache.http.impl.client.DefaultHttpClient"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 302
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execute"
	full_name: "org.apache.http.client.HttpClient.execute"
	base_type: "org.apache.http.client.HttpClient"
	functionality: SINK
	sink_type: SINK_NETWORK
	id: 303
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "query"
	full_name: "android.content.ContentResolver.query"
	base_type: "android.content.ContentResolver"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 304
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivities"
	full_name: "android.content.Context.startActivities"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 305
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startService"
	full_name: "android.content.Context.startService"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 306
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bindService"
	full_name: "android.content.Context.bindService"
	base_type: "android.content.Context"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 307
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setResult"
	full_name: "android.app.Activity.setResult"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 308
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivities"
	full_name: "android.app.Activity.startActivities"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 309
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivityForResult"
	full_name: "android.app.Activity.startActivityForResult"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 310
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivityFromChild"
	full_name: "android.app.Activity.startActivityFromChild"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 311
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivityFromFragment"
	full_name: "android.app.Activity.startActivityFromFragment"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 312
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startActivityIfNeeded"
	full_name: "android.app.Activity.startActivityIfNeeded"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 313
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "startService"
	full_name: "android.app.Activity.startService"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 314
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bindService"
	full_name: "android.app.Activity.bindService"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 315
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendBroadcast"
	full_name: "android.app.Activity.sendBroadcast"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 316
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendBroadcastAsUser"
	full_name: "android.app.Activity.sendBroadcastAsUser"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 317
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendOrderedBroadcast"
	full_name: "android.app.Activity.sendOrderedBroadcast"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 318
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendOrderedBroadcastAsUser"
	full_name: "android.app.Activity.sendOrderedBroadcastAsUser"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 319
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendStickyBroadcast"
	full_name: "android.app.Activity.sendStickyBroadcast"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 320
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendStickyBroadcastAsUser"
	full_name: "android.app.Activity.sendStickyBroadcastAsUser"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 321
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendStickyOrderedBroadcast"
	full_name: "android.app.Activity.sendStickyOrderedBroadcast"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 322
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "sendStickyOrderedBroadcastAsUser"
	full_name: "android.app.Activity.sendStickyOrderedBroadcastAsUser"
	base_type: "android.app.Activity"
	functionality: SINK
	sink_type: SINK_SYSTEM
	id: 323
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "insert"
	full_name: "android.content.ContentResolver.insert"
	base_type: "android.content.ContentResolver"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 324
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "delete"
	full_name: "android.content.ContentResolver.delete"
	base_type: "android.content.ContentResolver"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 325
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "update"
	full_name: "android.content.ContentResolver.update"
	base_type: "android.content.ContentResolver"
	functionality: SINK
	sink_type: SINK_DATABASE
	id: 326
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getString"
	full_name: "android.database.Cursor.getString"
	base_type: "android.database.Cursor"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 327
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "query"
	full_name: "android.database.sqlite.SQLiteDatabase.query"
	base_type: "android.database.sqlite.SQLiteDatabase"
	functionality: SOURCE
	source_type: SOURCE_DATABASE
	id: 328
}
