apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "b64decode"
	full_name: "base64.b64decode"
	base_type: "base64"
	id: 66
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "standard_b64decode"
	full_name: "base64.standard_b64decode"
	base_type: "base64"
	id: 67
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "urlsafe_b64decode"
	full_name: "base64.urlsafe_b64decode"
	base_type: "base64"
	id: 68
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "b32decode"
	full_name: "base64.b32decode"
	base_type: "base64"
	id: 69
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "b16decode"
	full_name: "base64.b16decode"
	base_type: "base64"
	id: 70
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "decode"
	full_name: "base64.decode"
	base_type: "base64"
	id: 71
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "decodestring"
	full_name: "base64.decodestring"
	base_type: "base64"
	id: 72
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	id: 291
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execl"
	full_name: "os.execl"
	base_type: "os"
	id: 220
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execle"
	full_name: "os.execle"
	base_type: "os"
	id: 221
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execlp"
	full_name: "os.execlp"
	base_type: "os"
	id: 222
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execlpe"
	full_name: "os.execlpe"
	base_type: "os"
	id: 223
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execv"
	full_name: "os.execv"
	base_type: "os"
	id: 224
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execve"
	full_name: "os.execve"
	base_type: "os"
	id: 225
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execvp"
	full_name: "os.execvp"
	base_type: "os"
	id: 226
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execvpe"
	full_name: "os.execvpe"
	base_type: "os"
	id: 227
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execfile"
	full_name: "execfile"
	id: 292
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "exec"
	id: 298
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket"
	full_name: "socket.socket"
	base_type: "socket"
	id: 126
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "urlopen"
	full_name: "urllib.request.urlopen"
	base_type: "urllib.request"
	id: 133
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "urlopen"
	full_name: "urllib.urlopen"
	base_type: "urllib"
	id: 101
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "urlopen"
	full_name: "urllib2.urlopen"
	base_type: "urllib2"
	id: 104
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
