apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_read"
	full_name: "socket_read"
	id: 5
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recv"
	full_name: "socket_recv"
	id: 6
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recvfrom"
	full_name: "socket_recvfrom"
	id: 7
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recvmsg"
	full_name: "socket_recvmsg"
	id: 8
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_fetch_stream"
	full_name: "ssh2_fetch_stream"
	id: 9
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_scp_recv"
	full_name: "ssh2_scp_recv"
	id: 10
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_socket_recvfrom"
	full_name: "stream_socket_recvfrom"
	id: 11
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_get_contents"
	full_name: "stream_get_contents"
	id: 12
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "highlight_file"
	full_name: "highlight_file"
	id: 50
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "show_source"
	full_name: "show_source"
	id: 51
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "base64_decode"
	full_name: "base64_decode"
	id: 52
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "radius_send_request"
	full_name: "radius_send_request"
	arg_nodes {
		id: 1
	}
	id: 53
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_send"
	full_name: "socket_send"
	arg_nodes {
		id: 2
	}
	id: 58
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_sendmsg"
	full_name: "socket_sendmsg"
	arg_nodes {
		id: 2
	}
	id: 59
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_sendto"
	full_name: "socket_sendto"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 5
	}
	id: 60
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_write"
	full_name: "socket_write"
	arg_nodes {
		id: 2
	}
	id: 61
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_scp_send"
	full_name: "ssh2_scp_send"
	arg_nodes {
		id: 2
	}
	id: 62
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_socket_sendto"
	full_name: "stream_socket_sendto"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 4
	}
	id: 63
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mail"
	full_name: "mail"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 3
	}
	arg_nodes {
		id: 4
	}
	arg_nodes {
		id: 5
	}
	id: 82
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fpassthru"
	full_name: "fpassthru"
	arg_nodes {
		id: 1
	}
	id: 83
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzpassthru"
	full_name: "gzpassthru"
	arg_nodes {
		id: 1
	}
	id: 84
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setproctitle"
	full_name: "setproctitle"
	arg_nodes {
		id: 1
	}
	id: 88
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setthreadtitle"
	full_name: "setthreadtitle"
	arg_nodes {
		id: 1
	}
	id: 89
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "expect_expectl"
	full_name: "expect_expectl"
	arg_nodes {
		id: 1
	}
	id: 90
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "expect_popen"
	full_name: "expect_popen"
	arg_nodes {
		id: 1
	}
	id: 91
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_exec"
	full_name: "pcntl_exec"
	arg_nodes {
		id: 1
	}
	id: 92
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_fork"
	full_name: "pcntl_fork"
	id: 93
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_signal"
	full_name: "pcntl_signal"
	id: 94
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "posix_getlogin"
	full_name: "posix_getlogin"
	id: 95
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "exec"
	arg_nodes {
		id: 1
	}
	id: 96
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "popen"
	full_name: "popen"
	arg_nodes {
		id: 1
	}
	id: 97
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "passthru"
	full_name: "passthru"
	arg_nodes {
		id: 1
	}
	id: 98
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "proc_open"
	full_name: "proc_open"
	arg_nodes {
		id: 1
	}
	id: 99
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "shell_exec"
	full_name: "shell_exec"
	arg_nodes {
		id: 1
	}
	id: 100
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "system"
	full_name: "system"
	arg_nodes {
		id: 1
	}
	id: 101
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "run"
	full_name: "Threaded::run"
	base_type: "Threaded"
	id: 102
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "Thread::start"
	base_type: "Thread"
	id: 103
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "submit"
	full_name: "Pool::submit"
	base_type: "Pool"
	id: 104
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "pht\Thread::start"
	base_type: "pht\Thread"
	id: 105
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "run"
	full_name: "pht\Runnable::run"
	base_type: "pht\Runnable"
	id: 106
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_connect"
	full_name: "ssh2_connect"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	id: 113
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_shell"
	full_name: "ssh2_shell"
	id: 114
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_tunnel"
	full_name: "ssh2_tunnel"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 3
	}
	id: 115
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_exec"
	full_name: "ssh2_exec"
	arg_nodes {
		id: 2
	}
	id: 116
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_sftp_unlink"
	full_name: "ssh2_sftp_unlink"
	arg_nodes {
		id: 2
	}
	id: 117
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_delete_file"
	full_name: "apc_delete_file"
	arg_nodes {
		id: 1
	}
	id: 118
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_compile_file"
	full_name: "apc_compile_file"
	arg_nodes {
		id: 1
	}
	id: 125
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "override_function"
	full_name: "override_function"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 3
	}
	id: 126
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_load_exe"
	full_name: "bcompiler_load_exe"
	arg_nodes {
		id: 1
	}
	id: 127
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_load"
	full_name: "bcompiler_load"
	arg_nodes {
		id: 1
	}
	id: 128
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_parse_class"
	full_name: "bcompiler_parse_class"
	id: 129
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_read"
	full_name: "bcompiler_read"
	arg_nodes {
		id: 1
	}
	id: 130
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "Reflection"
	full_name: "Reflection"
	id: 131
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionClass"
	full_name: "ReflectionClass"
	id: 132
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionZendExtension"
	full_name: "ReflectionZendExtension"
	id: 133
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionExtension"
	full_name: "ReflectionExtension"
	id: 134
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionFunction"
	full_name: "ReflectionFunction"
	id: 135
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionMethod"
	full_name: "ReflectionMethod"
	id: 136
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "opcache_compile_file"
	full_name: "opcache_compile_file"
	arg_nodes {
		id: 1
	}
	id: 137
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "uopz_add_function"
	full_name: "uopz_add_function"
	arg_nodes {
		id: 1
	}
	id: 138
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_import"
	full_name: "classkit_import"
	arg_nodes {
		id: 1
	}
	id: 139
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_method_add"
	full_name: "classkit_method_add"
	arg_nodes {
		id: 4
	}
	id: 140
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_method_redefine"
	full_name: "classkit_method_redefine"
	arg_nodes {
		id: 4
	}
	id: 141
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	arg_nodes {
		id: 1
	}
	id: 142
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "parsekit_compile_file"
	full_name: "parsekit_compile_file"
	arg_nodes {
		id: 1
	}
	id: 143
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "parsekit_compile_string"
	full_name: "parsekit_compile_string"
	arg_nodes {
		id: 1
	}
	id: 144
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "call"
	full_name: "Lua::call"
	base_type: "Lua"
	id: 145
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "Lua::eval"
	base_type: "Lua"
	arg_nodes {
		id: 1
	}
	id: 146
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "include"
	full_name: "Lua::include"
	base_type: "Lua"
	arg_nodes {
		id: 1
	}
	id: 147
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "assert"
	full_name: "assert"
	arg_nodes {
		id: 1
	}
	id: 148
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_replace"
	full_name: "preg_replace"
	id: 149
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_filter"
	full_name: "preg_filter"
	id: 150
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_replace_callback"
	full_name: "preg_replace_callback"
	id: 151
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mb_eregi_replace"
	full_name: "mb_eregi_replace"
	id: 152
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mb_ereg_replace"
	full_name: "mb_ereg_replace"
	id: 153
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "create_function"
	full_name: "create_function"
	arg_nodes {
		id: 2
	}
	id: 154
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "include"
	full_name: "include"
	arg_nodes {
		id: 1
	}
	id: 155
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "php_check_syntax"
	full_name: "php_check_syntax"
	arg_nodes {
		id: 1
	}
	id: 156
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_import"
	full_name: "runkit_import"
	arg_nodes {
		id: 1
	}
	id: 157
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_function_add"
	full_name: "runkit_function_add"
	arg_nodes {
		id: 3
	}
	id: 158
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_constant_add"
	full_name: "runkit_constant_add"
	arg_nodes {
		id: 2
	}
	id: 159
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_method_add"
	full_name: "runkit_method_add"
	arg_nodes {
		id: 4
	}
	id: 160
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_function_redefine"
	full_name: "runkit_function_redefine"
	arg_nodes {
		id: 3
	}
	id: 161
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_constant_redefine"
	full_name: "runkit_constant_redefine"
	arg_nodes {
		id: 2
	}
	id: 162
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_method_redefine"
	full_name: "runkit_method_redefine"
	arg_nodes {
		id: 4
	}
	id: 163
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "virtual"
	full_name: "virtual"
	arg_nodes {
		id: 1
	}
	id: 164
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "dl"
	full_name: "dl"
	arg_nodes {
		id: 1
	}
	id: 165
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
