apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_fget"
	full_name: "ftp_fget"
	id: 1
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_get"
	full_name: "ftp_get"
	id: 2
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_nb_fget"
	full_name: "ftp_nb_fget"
	id: 3
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_nb_get"
	full_name: "ftp_nb_get"
	id: 4
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_read"
	full_name: "socket_read"
	id: 5
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recv"
	full_name: "socket_recv"
	id: 6
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recvfrom"
	full_name: "socket_recvfrom"
	id: 7
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_recvmsg"
	full_name: "socket_recvmsg"
	id: 8
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_fetch_stream"
	full_name: "ssh2_fetch_stream"
	id: 9
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_scp_recv"
	full_name: "ssh2_scp_recv"
	id: 10
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_socket_recvfrom"
	full_name: "stream_socket_recvfrom"
	id: 11
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_get_contents"
	full_name: "stream_get_contents"
	id: 12
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_get_line"
	full_name: "stream_get_line"
	id: 13
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_bin_loadfile"
	full_name: "apc_bin_loadfile"
	id: 14
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bzread"
	full_name: "bzread"
	id: 15
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "getContent"
	full_name: "PharFileInfo::getContent"
	base_type: "PharFileInfo"
	id: 16
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "addFromString"
	full_name: "Phar::addFromString"
	base_type: "Phar"
	id: 17
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "addFromString"
	full_name: "PharData::addFromString"
	base_type: "PharData"
	id: 18
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "zip_entry_read"
	full_name: "zip_entry_read"
	id: 19
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "zip_read"
	full_name: "zip_read"
	id: 20
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "addFile"
	full_name: "ZipArchive::addFile"
	base_type: "ZipArchive"
	id: 21
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "addFromString"
	full_name: "ZipArchive::addFromString"
	base_type: "ZipArchive"
	id: 22
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzread"
	full_name: "gzread"
	id: 23
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "dio_read"
	full_name: "dio_read"
	id: 24
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readdir"
	full_name: "readdir"
	id: 25
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "file"
	full_name: "file"
	id: 26
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "file_get_contents"
	full_name: "file_get_contents"
	id: 27
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fgetc"
	full_name: "fgetc"
	id: 28
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fgetcsv"
	full_name: "fgetcsv"
	id: 29
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fgets"
	full_name: "fgets"
	id: 30
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fgetss"
	full_name: "fgetss"
	id: 31
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fread"
	full_name: "fread"
	id: 32
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fscanf"
	full_name: "fscanf"
	id: 33
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "move_uploaded_file"
	full_name: "move_uploaded_file"
	id: 34
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_read"
	full_name: "eio_read"
	id: 35
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_readdir"
	full_name: "eio_readdir"
	id: 36
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_readahead"
	full_name: "eio_readahead"
	id: 37
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "swoole_async_read"
	full_name: "swoole_async_read"
	id: 38
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "swoole_async_readfile"
	full_name: "swoole_async_readfile"
	id: 39
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "swoole_load_module"
	full_name: "swoole_load_module"
	id: 40
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exif_read_data"
	full_name: "exif_read_data"
	id: 41
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "read_exif_data"
	full_name: "read_exif_data"
	id: 42
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzfile"
	full_name: "gzfile"
	id: 43
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzgetc"
	full_name: "gzgetc"
	id: 44
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzgets"
	full_name: "gzgets"
	id: 45
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzgetss"
	full_name: "gzgetss"
	id: 46
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readfile"
	full_name: "readfile"
	id: 47
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readgzfile"
	full_name: "readgzfile"
	id: 48
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "readlink"
	full_name: "readlink"
	id: 49
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "highlight_file"
	full_name: "highlight_file"
	id: 50
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "show_source"
	full_name: "show_source"
	id: 51
	functionality: SOURCE
	source_type: SOURCE_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "base64_decode"
	full_name: "base64_decode"
	id: 52
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "radius_send_request"
	full_name: "radius_send_request"
	arg_nodes {
		id: 1
	}
	id: 53
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_fput"
	full_name: "ftp_fput"
	arg_nodes {
		id: 3
	}
	id: 54
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_put"
	full_name: "ftp_put"
	arg_nodes {
		id: 3
	}
	id: 55
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_nb_fput"
	full_name: "ftp_nb_fput"
	arg_nodes {
		id: 3
	}
	id: 56
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_nb_put"
	full_name: "ftp_nb_put"
	arg_nodes {
		id: 3
	}
	id: 57
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_send"
	full_name: "socket_send"
	arg_nodes {
		id: 2
	}
	id: 58
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_sendmsg"
	full_name: "socket_sendmsg"
	arg_nodes {
		id: 2
	}
	id: 59
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_sendto"
	full_name: "socket_sendto"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 5
	}
	id: 60
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "socket_write"
	full_name: "socket_write"
	arg_nodes {
		id: 2
	}
	id: 61
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_scp_send"
	full_name: "ssh2_scp_send"
	arg_nodes {
		id: 2
	}
	id: 62
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "stream_socket_sendto"
	full_name: "stream_socket_sendto"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 4
	}
	id: 63
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_bin_dumpfile"
	full_name: "apc_bin_dumpfile"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	id: 64
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bzwrite"
	full_name: "bzwrite"
	arg_nodes {
		id: 2
	}
	id: 65
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzwrite"
	full_name: "gzwrite"
	arg_nodes {
		id: 2
	}
	id: 66
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzputs"
	full_name: "gzputs"
	arg_nodes {
		id: 2
	}
	id: 67
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "dio_write"
	full_name: "dio_write"
	arg_nodes {
		id: 2
	}
	id: 68
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "file_put_contents"
	full_name: "file_put_contents"
	arg_nodes {
		id: 2
	}
	id: 69
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fputcsv"
	full_name: "fputcsv"
	arg_nodes {
		id: 2
	}
	id: 70
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fputs"
	full_name: "fputs"
	arg_nodes {
		id: 2
	}
	id: 71
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fwrite"
	full_name: "fwrite"
	arg_nodes {
		id: 2
	}
	id: 72
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_write"
	full_name: "eio_write"
	arg_nodes {
		id: 2
	}
	id: 73
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "swoole_async_write"
	full_name: "swoole_async_write"
	arg_nodes {
		id: 2
	}
	id: 74
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "swoole_async_writefile"
	full_name: "swoole_async_writefile"
	arg_nodes {
		id: 2
	}
	id: 75
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fprintf"
	full_name: "fprintf"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 3
	}
	id: 76
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "vfprintf"
	full_name: "vfprintf"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 3
	}
	id: 77
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "yaml_emit_file"
	full_name: "yaml_emit_file"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	id: 78
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "yaml_parse"
	full_name: "yaml_parse"
	arg_nodes {
		id: 1
	}
	id: 79
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "yaml_parse_file"
	full_name: "yaml_parse_file"
	arg_nodes {
		id: 1
	}
	id: 80
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mb_send_mail"
	full_name: "mb_send_mail"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 3
	}
	arg_nodes {
		id: 4
	}
	arg_nodes {
		id: 5
	}
	id: 81
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mail"
	full_name: "mail"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 3
	}
	arg_nodes {
		id: 4
	}
	arg_nodes {
		id: 5
	}
	id: 82
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fpassthru"
	full_name: "fpassthru"
	arg_nodes {
		id: 1
	}
	id: 83
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "gzpassthru"
	full_name: "gzpassthru"
	arg_nodes {
		id: 1
	}
	id: 84
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fopen"
	full_name: "fopen"
	arg_nodes {
		id: 1
	}
	id: 85
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "zip_open"
	full_name: "zip_open"
	arg_nodes {
		id: 1
	}
	id: 86
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fdf_open"
	full_name: "fdf_open"
	arg_nodes {
		id: 1
	}
	id: 87
	functionality: SINK
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setproctitle"
	full_name: "setproctitle"
	arg_nodes {
		id: 1
	}
	id: 88
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "setthreadtitle"
	full_name: "setthreadtitle"
	arg_nodes {
		id: 1
	}
	id: 89
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "expect_expectl"
	full_name: "expect_expectl"
	arg_nodes {
		id: 1
	}
	id: 90
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "expect_popen"
	full_name: "expect_popen"
	arg_nodes {
		id: 1
	}
	id: 91
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_exec"
	full_name: "pcntl_exec"
	arg_nodes {
		id: 1
	}
	id: 92
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_fork"
	full_name: "pcntl_fork"
	id: 93
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pcntl_signal"
	full_name: "pcntl_signal"
	id: 94
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "posix_getlogin"
	full_name: "posix_getlogin"
	id: 95
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "exec"
	arg_nodes {
		id: 1
	}
	id: 96
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "popen"
	full_name: "popen"
	arg_nodes {
		id: 1
	}
	id: 97
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "passthru"
	full_name: "passthru"
	arg_nodes {
		id: 1
	}
	id: 98
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "proc_open"
	full_name: "proc_open"
	arg_nodes {
		id: 1
	}
	id: 99
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "shell_exec"
	full_name: "shell_exec"
	arg_nodes {
		id: 1
	}
	id: 100
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "system"
	full_name: "system"
	arg_nodes {
		id: 1
	}
	id: 101
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "run"
	full_name: "Threaded::run"
	base_type: "Threaded"
	id: 102
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "Thread::start"
	base_type: "Thread"
	id: 103
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "submit"
	full_name: "Pool::submit"
	base_type: "Pool"
	id: 104
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "start"
	full_name: "pht\Thread::start"
	base_type: "pht\Thread"
	id: 105
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "run"
	full_name: "pht\Runnable::run"
	base_type: "pht\Runnable"
	id: 106
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_rmdir"
	full_name: "ftp_rmdir"
	arg_nodes {
		id: 2
	}
	id: 107
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_delete"
	full_name: "ftp_delete"
	arg_nodes {
		id: 2
	}
	id: 108
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_raw"
	full_name: "ftp_raw"
	arg_nodes {
		id: 2
	}
	id: 109
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ftp_exec"
	full_name: "ftp_exec"
	arg_nodes {
		id: 2
	}
	id: 110
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "curl_exec"
	full_name: "curl_exec"
	arg_nodes {
		id: 1
	}
	id: 111
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "curl_multi_exec"
	full_name: "curl_multi_exec"
	arg_nodes {
		id: 1
	}
	id: 112
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_connect"
	full_name: "ssh2_connect"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 2
	}
	id: 113
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_shell"
	full_name: "ssh2_shell"
	id: 114
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_tunnel"
	full_name: "ssh2_tunnel"
	arg_nodes {
		id: 2
	}
	arg_nodes {
		id: 3
	}
	id: 115
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_exec"
	full_name: "ssh2_exec"
	arg_nodes {
		id: 2
	}
	id: 116
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ssh2_sftp_unlink"
	full_name: "ssh2_sftp_unlink"
	arg_nodes {
		id: 2
	}
	id: 117
	functionality: DANGER
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_delete_file"
	full_name: "apc_delete_file"
	arg_nodes {
		id: 1
	}
	id: 118
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "link"
	full_name: "link"
	arg_nodes {
		id: 2
	}
	id: 119
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "delete"
	full_name: "delete"
	arg_nodes {
		id: 1
	}
	id: 120
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "unlink"
	full_name: "unlink"
	arg_nodes {
		id: 1
	}
	id: 121
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "rmdir"
	full_name: "rmdir"
	arg_nodes {
		id: 1
	}
	id: 122
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_unlink"
	full_name: "eio_unlink"
	arg_nodes {
		id: 1
	}
	id: 123
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eio_rmdir"
	full_name: "eio_rmdir"
	arg_nodes {
		id: 1
	}
	id: 124
	functionality: DANGER
	sink_type: SINK_FILE
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "apc_compile_file"
	full_name: "apc_compile_file"
	arg_nodes {
		id: 1
	}
	id: 125
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "override_function"
	full_name: "override_function"
	arg_nodes {
		id: 1
	}
	arg_nodes {
		id: 3
	}
	id: 126
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_load_exe"
	full_name: "bcompiler_load_exe"
	arg_nodes {
		id: 1
	}
	id: 127
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_load"
	full_name: "bcompiler_load"
	arg_nodes {
		id: 1
	}
	id: 128
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_parse_class"
	full_name: "bcompiler_parse_class"
	id: 129
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "bcompiler_read"
	full_name: "bcompiler_read"
	arg_nodes {
		id: 1
	}
	id: 130
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "Reflection"
	full_name: "Reflection"
	id: 131
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionClass"
	full_name: "ReflectionClass"
	id: 132
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionZendExtension"
	full_name: "ReflectionZendExtension"
	id: 133
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionExtension"
	full_name: "ReflectionExtension"
	id: 134
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionFunction"
	full_name: "ReflectionFunction"
	id: 135
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "ReflectionMethod"
	full_name: "ReflectionMethod"
	id: 136
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "opcache_compile_file"
	full_name: "opcache_compile_file"
	arg_nodes {
		id: 1
	}
	id: 137
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "uopz_add_function"
	full_name: "uopz_add_function"
	arg_nodes {
		id: 1
	}
	id: 138
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_import"
	full_name: "classkit_import"
	arg_nodes {
		id: 1
	}
	id: 139
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_method_add"
	full_name: "classkit_method_add"
	arg_nodes {
		id: 4
	}
	id: 140
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "classkit_method_redefine"
	full_name: "classkit_method_redefine"
	arg_nodes {
		id: 4
	}
	id: 141
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	arg_nodes {
		id: 1
	}
	id: 142
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "parsekit_compile_file"
	full_name: "parsekit_compile_file"
	arg_nodes {
		id: 1
	}
	id: 143
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "parsekit_compile_string"
	full_name: "parsekit_compile_string"
	arg_nodes {
		id: 1
	}
	id: 144
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "call"
	full_name: "Lua::call"
	base_type: "Lua"
	id: 145
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "Lua::eval"
	base_type: "Lua"
	arg_nodes {
		id: 1
	}
	id: 146
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "include"
	full_name: "Lua::include"
	base_type: "Lua"
	arg_nodes {
		id: 1
	}
	id: 147
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "assert"
	full_name: "assert"
	arg_nodes {
		id: 1
	}
	id: 148
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_replace"
	full_name: "preg_replace"
	id: 149
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_filter"
	full_name: "preg_filter"
	id: 150
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "preg_replace_callback"
	full_name: "preg_replace_callback"
	id: 151
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mb_eregi_replace"
	full_name: "mb_eregi_replace"
	id: 152
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "mb_ereg_replace"
	full_name: "mb_ereg_replace"
	id: 153
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "create_function"
	full_name: "create_function"
	arg_nodes {
		id: 2
	}
	id: 154
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "include"
	full_name: "include"
	arg_nodes {
		id: 1
	}
	id: 155
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "php_check_syntax"
	full_name: "php_check_syntax"
	arg_nodes {
		id: 1
	}
	id: 156
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_import"
	full_name: "runkit_import"
	arg_nodes {
		id: 1
	}
	id: 157
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_function_add"
	full_name: "runkit_function_add"
	arg_nodes {
		id: 3
	}
	id: 158
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_constant_add"
	full_name: "runkit_constant_add"
	arg_nodes {
		id: 2
	}
	id: 159
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_method_add"
	full_name: "runkit_method_add"
	arg_nodes {
		id: 4
	}
	id: 160
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_function_redefine"
	full_name: "runkit_function_redefine"
	arg_nodes {
		id: 3
	}
	id: 161
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_constant_redefine"
	full_name: "runkit_constant_redefine"
	arg_nodes {
		id: 2
	}
	id: 162
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runkit_method_redefine"
	full_name: "runkit_method_redefine"
	arg_nodes {
		id: 4
	}
	id: 163
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "virtual"
	full_name: "virtual"
	arg_nodes {
		id: 1
	}
	id: 164
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "dl"
	full_name: "dl"
	arg_nodes {
		id: 1
	}
	id: 165
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
smt_formula: "((1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52) & (53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87)) | (88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99 | 100 | 101 | 102 | 103 | 104 | 105 | 106 | 107 | 108 | 109 | 110 | 111 | 112 | 113 | 114 | 115 | 116 | 117 | 118 | 119 | 120 | 121 | 122 | 123 | 124 | 125 | 126 | 127 | 128 | 129 | 130 | 131 | 132 | 133 | 134 | 135 | 136 | 137 | 138 | 139 | 140 | 141 | 142 | 143 | 144 | 145 | 146 | 147 | 148 | 149 | 150 | 151 | 152 | 153 | 154 | 155 | 156 | 157 | 158 | 159 | 160 | 161 | 162 | 163 | 164 | 165)"