apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	functionality: SINK
	id: 237
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "exec"
	functionality: SINK
	id: 232
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "system"
	full_name: "system"
	functionality: SINK
	id: 234
	sink_type: SINK_CODE_GENERATION 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Process.new"
	base_type: "Process"
	functionality: SINK
	id: 243
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP.new"
	base_type: "Net::HTTP"
	functionality: SOURCE
	id: 246
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP.new"
	base_type: "Net::HTTP"
	functionality: SINK
	id: 247
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Socket.new"
	base_type: "Socket"
	functionality: SINK
	id: 97
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "TCPSocket.new"
	base_type: "TCPSocket"
	functionality: SINK
	id: 1000
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "UDPSocket.new"
	base_type: "UDPSocket"
	functionality: SINK
	id: 112
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTPRequest.new"
	base_type: "Net::HTTPRequest"
	functionality: SINK
	id: 78
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTPGenericRequest.new"
	base_type: "Net::HTTPGenericRequest"
	functionality: SOURCE
	id: 73
	source_type: SOURCE_NETWORK 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "capture2"
	full_name: "Open3.capture2"
	base_type: "Open3"
	functionality: SINK
	id: 248
	sink_type: SINK_CODE_GENERATION 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "capture2e"
	full_name: "Open3.capture2e"
	base_type: "Open3"
	functionality: SINK
	id: 249
	sink_type: SINK_CODE_GENERATION 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "capture3"
	full_name: "Open3.capture3"
	base_type: "Open3"
	functionality: SINK
	id: 250
	sink_type: SINK_CODE_GENERATION 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pipeline"
	full_name: "Open3.pipeline"
	base_type: "Open3"
	functionality: SINK
	id: 251
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pipeline_r"
	full_name: "Open3.pipeline_r"
	base_type: "Open3"
	functionality: SINK
	id: 252
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pipeline_rw"
	full_name: "Open3.pipeline_rw"
	base_type: "Open3"
	functionality: SINK
	id: 253
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pipeline_start"
	full_name: "Open3.pipeline_start"
	base_type: "Open3"
	functionality: SINK
	id: 254
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pipeline_w"
	full_name: "Open3.pipeline_w"
	base_type: "Open3"
	functionality: SINK
	id: 255
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "popen2"
	full_name: "Open3.popen2"
	base_type: "Open3"
	functionality: SINK
	id: 256
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "popen2e"
	full_name: "Open3.popen2e"
	base_type: "Open3"
	functionality: SINK
	id: 258
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "popen3"
	full_name: "Open3.popen3"
	base_type: "Open3"
	functionality: SINK
	id: 260
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "builtin_xstring"
	full_name: "builtin_xstring"
	id: 261
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "urlsafe_decode64"
	full_name: "Base64.urlsafe_decode64"
	base_type: "Base64"
	id: 262
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "decode64"
	full_name: "Base64.decode64"
	base_type: "Base64"
	id: 263
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "strict_decode64"
	full_name: "Base64.strict_decode64"
	base_type: "Base64"
	id: 264
	functionality: SOURCE
	source_type: SOURCE_OBFUSCATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "Net::HTTP.request"
	base_type: "Net::HTTP"
	functionality: SOURCE
	id: 79
	source_type: SOURCE_NETWORK 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "Net::HTTP.request"
	base_type: "Net::HTTP"
	functionality: SINK
	id: 80
	sink_type: SINK_NETWORK 
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request_head"
	full_name: "Net::HTTP.request_head"
	base_type: "Net::HTTP"
	functionality: SOURCE
	id: 81
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request_head"
	full_name: "Net::HTTP.request_head"
	base_type: "Net::HTTP"
	functionality: SINK
	id: 82
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request_post"
	full_name: "Net::HTTP.request_post"
	base_type: "Net::HTTP"
	functionality: SOURCE
	id: 83
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request_post"
	full_name: "Net::HTTP.request_post"
	base_type: "Net::HTTP"
	functionality: SINK
	id: 84
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP::Get.new"
	base_type: "Net::HTTP::Get"
	functionality: SOURCE
	id: 86
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP::Post.new"
	base_type: "Net::HTTP::Post"
	functionality: SOURCE
	id: 89
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP::Post.new"
	base_type: "Net::HTTP::Post"
	functionality: SINK
	id: 90
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "new"
	full_name: "Net::HTTP::Put.new"
	base_type: "Net::HTTP::Put"
	functionality: SINK
	id: 117
	sink_type: SINK_NETWORK
}
