apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "eval"
	full_name: "eval"
	id: 19
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "https.request"
	base_type: "https"
	id: 15
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "get"
	full_name: "https.get"
	base_type: "https"
	id: 16
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "request"
	full_name: "http.request"
	base_type: "http"
	id: 17
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "exec"
	full_name: "child_process.exec"
	base_type: "child_process"
	id: 33
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execFile"
	full_name: "child_process.execFile"
	base_type: "child_process"
	id: 34
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "fork"
	full_name: "child_process.fork"
	base_type: "child_process"
	id: 35
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "spawn"
	full_name: "child_process.spawn"
	base_type: "child_process"
	id: 36
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execFileSync"
	full_name: "child_process.execFileSync"
	base_type: "child_process"
	id: 37
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "execSync"
	full_name: "child_process.execSync"
	base_type: "child_process"
	id: 38
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "spawnSync"
	full_name: "child_process.spawnSync"
	base_type: "child_process"
	id: 39
	functionality: DANGER
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "post"
	full_name: "session.post"
	base_type: "session"
	id: 51
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "socket.send"
	base_type: "socket"
	id: 42
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "socket.write"
	base_type: "socket"
	id: 52
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "get"
	full_name: "http.get"
	base_type: "http"
	id: 53
	functionality: SOURCE
	source_type: SOURCE_NETWORK
}
apis {
    type: FUNCTION_DECL_REF_EXPR
    name: "connect"
    full_name: "socket.connect"
    base_type: "socket"
    id: 54
    functionality: SOURCE
    source_type: SOURCE_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInContext"
	full_name: "script.runInContext"
	base_type: "script"
	id: 25
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInNewContext"
	full_name: "script.runInNewContext"
	base_type: "script"
	id: 26
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInThisContext"
	full_name: "script.runInThisContext"
	base_type: "script"
	id: 27
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInContext"
	full_name: "vm.runInContext"
	base_type: "vm"
	id: 28
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInNewContext"
	full_name: "vm.runInNewContext"
	base_type: "vm"
	id: 29
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "runInThisContext"
	full_name: "vm.runInThisContext"
	base_type: "vm"
	id: 30
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "request.write"
	base_type: "request"
	id: 43
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "write"
	full_name: "response.write"
	base_type: "response"
	id: 44
	functionality: SINK
	sink_type: SINK_NETWORK
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "send"
	full_name: "subprocess.send"
	base_type: "subprocess"
	id: 41
	functionality: SINK
	sink_type: SINK_PROCESS_OPERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "Proxy"
	full_name: "Proxy"
	id: 46
	functionality: DANGER
	sink_type: SINK_CODE_GENERATION
}
apis {
	type: FUNCTION_DECL_REF_EXPR
	name: "pushStream"
	full_name: "http2stream.pushStream"
	base_type: "http2stream"
	id: 47
	functionality: SINK
	sink_type: SINK_NETWORK
}
