apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "exec"
  full_name: "exec"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "passthru"
  full_name: "passthru"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "shell_exec"
  full_name: "shell_exec"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "popen"
  full_name: "popen"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "proc_open"
  full_name: "proc_open"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "pcntl_exec"
  full_name: "pcntl_exec"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "eval"
  full_name: "eval"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "assert"
  full_name: "assert"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "preg_replace"
  full_name: "preg_replace"
  arg_nodes {
    id: 1
  } 
  arg_nodes {
    id: 2
  }
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "create_function"
  full_name: "create_function"
}
