apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "exec"
  full_name: "exec"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "eval"
  full_name: "eval"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "compile"
  full_name: "compile"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "call"
  full_name: "subprocess.call"
  base_type: "subprocess"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "loads"
  full_name: "pickle.loads"
  base_type: "pickle"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "load"
  full_name: "yaml.load"
  base_type: "yaml"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "load"
  full_name: "marshal.load"
  base_type: "marshal"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "loads"
  full_name: "marshal.loads"
  base_type: "marshal"
}
