apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "eval"
  full_name: "eval"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "exec"
  full_name: "exec"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "builtin_xstring"
  full_name: "builtin_xstring"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "popen3"
  full_name: "Open3.popen3"
  base_type: "Open3"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "popen2e"
  full_name: "Open3.popen2e"
  base_type: "Open3"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "spawn"
  full_name: "Open3.spawn"
  base_type: "spawn"
}
