apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "loadClass"
  full_name: "java.net.URLClassLoader.loadClass"
  base_type: "java.net.URLClassLoader"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "loadLibrary"
  full_name: "java.lang.System.loadLibrary"
  base_type: "java.lang.System"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "load"
  full_name: "java.lang.System.load"
  base_type: "java.lang.System"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "getBeanInfo"
  full_name: "java.beans.Instrospector.getBeanInfo"
  base_type: "java.beans.Instrospector"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "exec"
  full_name: "java.lang.Runtime.exec"
  base_type: "java.lang.Runtime"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "<init>"
  full_name: "java.lang.ProcessBuilder.<init>"
  base_type: "java.lang.ProcessBuilder"
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "eval"
  full_name: "javax.script.ScriptEngine.eval"
  base_type: "javax.script.ScriptEngine"
}
save_feature: true
