apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "eval"
  full_name: "eval"
  id: 1
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "read"
  full_name: "fs.read"
  id: 2
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "write"
  full_name: "fs.write"
  id: 3
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "read"
  full_name: "network.read"
  id: 4
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "write"
  full_name: "network.write"
  id: 5
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "write"
  full_name: "document.write"
  base_type: "document"
  id: 6
}
apis {
  type: FUNCTION_DECL_REF_EXPR
  name: "exec"
  full_name: "exec"
  base_type: "exec"
  id: 7
}
smt_formula: "(2 & 5) | (4 & (1 | 6)) | 7"
